{% extends "admin/base.html.twig" %}
{% block head %}{% endblock %}

{% block body %}

    <div class="col-lg-12">
        <div class="panel panel-primary" style="margin-top:20px;">
            <div class="panel-heading">
                Edit Specialite
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">

                {{form_start(form)}}

                <div class="form-group">

                    {{form_row(form.titre)}}
                </div>

                {{form_rest(form)}}
                <div class="panel-footer">
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-save">&nbsp;Enregistrer</i>
                    </button>
                    <a href="" class="btn btn-danger">
                        <i class="fa fa-arrow-left">&nbsp;Annuler</i>
                    </a>
                </div>

                {{form_end(form)}}

            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->

{% endblock %}

{% block script %}{% endblock %}