<div class="area col-md-3">
                                          
        <h2 class="title blue">MOT DU DIRECTEUR</h2>
        <img class="fullwidth" src="/img/Front/photoDoyen.jpg" alt="MOT DU DOYEN" />
        <p>Le centre de formation de kenitra, ouverte en 1999, accueille chaque année plus de 7000 étudiants sur un campus de près de 9 ... </p>
        <a href="#" class="lienMotDoyen">Lire la suite</a>
        <img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101121212ns.gif" />
       <!--
        <video controls width="250" height="250">
            <source src="/img/Front/video.mp4">
        </video>
        -->


        <ul class="blocks">
                <!--
                <li>
                    <a class="blue" href="/espace/etudiant/connexion">Espace Etudiants</a>
                </li>
                -->
                <li>
                    <a class="blue" href="{{path('app_login',{ 'type': "RESPONSABLE" })}}">Espace Enseignants</a>
                </li>
                <li>
                    <a class="blue" href="{{path('app_login',{ 'type': "ADMINISTRATEUR" })}}">Espace Admin</a>
                </li>
            </ul>
        
          
         
        
         

    </div>
    
   