<div class="col-md-3">

    <!-- <ul class="blocks"> <h2 class="title green">FORMATIONS</h2> <li><a class="lightgray cycle" href="{{path('licences')}}" categorie="7" titre="CYCLE LICENCE FONDAMENTALE">LICENCE UNIVERSITAIRE SPECIALISÉE (LUS) </a></li> <li><a class="lightgray cycle" href="{{path('masters')}}" categorie="8" titre="CYCLE MASTER">MASTER UNIVERSITAIRE SPECIALISÉ (MUS) </a></li> </ul> -->
    <ul class="blocks hidden-xs hidden-sm">
        <!--
        <li>
            <a class="blue" href="/espace/etudiant/connexion">Espace Etudiants</a>
        </li>
        -->
        <li>
            <a class="blue" href="{{path('app_login',{ 'type': "RESPONSABLE" })}}">Espace Enseignants</a>
        </li>
        <li>
            <a class="blue" href="{{path('app_login',{ 'type': "ADMINISTRATEUR" })}}">Espace Admin</a>
        </li>
    </ul>

    {% include 'mini_annonces.html.twig' %}

</div>
